@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap');



.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-main {
  min-height: 85vh;
}

/* TITLE */
.title {
  text-align: center;
  padding: 2rem 0;
  gap: .5rem;
}

.title>h1 {
  font-size: 3.5rem;
  font-weight: 900;
}

.title>span {
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: lighter;
}

/* LAYOUT CARDS */
.grid {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 0 2rem;
  width: 100%;
}

.layout-cards {
  border: 2px solid white;
  border-radius: 5px;
  transition: all .3s linear;
}

.layout-cardss {
  border: 2px solid green;
  border-radius: 50px;
  background-color: black;
  text-align: center;
  padding: 1rem;
  font-weight: bold;
  text-transform: capitalize;
  width: 60%;
  margin-left: auto; /* Pour centrer horizontalement */
  margin-right: auto; /* Pour centrer horizontalement */
  margin-top: 15px;
}

/* Styles pour les boutons */
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: -80px; /* Déplacer les boutons vers le haut */
}

.button-container button {
  border: 1px solid black;
  border-radius: 20%;
}

.button-container button:nth-child(1) {
  margin-left: auto; /* Pour aligner à droite */
  background-color: green;
}

.button-container button:nth-child(2) {
  margin-left: 20px;
  background-color: red;
}



.save-button {
  background-color: green;
  color: white;
}

.live-button {
  background-color: red;
  color: white;
}




.layout-dragging {
  background: #ffffff17;
  border: 2px dashed #ffffff8c;
}

/* SINGLE CARD */
.card-container {
  margin: 1rem 1rem 0 1rem;
  background-color: #0079FF;
  padding: 1rem;
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

.card-container>p {
  font-weight: bold;
  font-size: 1.5rem;
}


/* Loader style */



/*//body {*/
/*  //    background-color: black;*/
/*  //    height: 100vh;*/
/*  //    width: 100vw;*/
/*  //    display: flex;*/
/*  //    justify-content: center;*/
/*  //    align-items: center;*/
/*  //}*/
.box {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 3px solid;
  border-color: orange transparent;
  animation: spin 1s infinite ease-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* END Loader style */